################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp.Curry/bin/Debug
/CSharp.Curry/obj/Debug
